<mt:setvarblock name="page_title"><__trans phrase="Edit Thumbnail Prototype"><mt:else><__trans phrase="Create Thumbnail Prototype"></mt:if></mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<link rel="stylesheet" href="<mt:var name="static_uri">plugins/ImageCropper/css/app.css" type="text/css" />
<script type="text/javascript" charset="utf-8">
    function init() {
        var label = getByID("label");
        label.focus();
    }
    TC.attachLoadEvent( init );
</script>
</mt:setvarblock>
<mt:include name="dialog/header.tmpl">

<form method="post" action="<mt:var name="script_url">" target="_top">
<input type="hidden" name="__mode" value="save_prototype" />
<input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
<input type="hidden" name="id" value="<mt:var name="id">" />

<mtapp:setting
    id="label"
    label_class="top-label"
    label="<__trans phrase="Label">"
    hint="<__trans phrase="Enter in a very short label that will be used to help you identify any thumbnail derived from this prototype.">"
    show_hint="1">
      <input id="label" type="text" name="label" value="<mt:var name="label" />" class="full-width" />
</mtapp:setting>

<mtapp:setting
    id="max_width"
    label_class="top-label"
    label="<__trans phrase="Max Width">"
    hint="<__trans phrase="Enter in the max width of the thumbnail.">"
    show_hint="1">
      <input id="max_width" type="text" name="max_width" value="<mt:var name="max_width" />" /><br />
</mtapp:setting>

<mtapp:setting
    id="max_height"
    label_class="top-label"
    label="<__trans phrase="Max Height">"
    hint="<__trans phrase="Enter in the max height of the thumbnail.">"
    show_hint="1">
      <input id="max_height" type="text" name="max_height" value="<mt:var name="max_height" />" /><br />
</mtapp:setting>

<div class="actions-bar">
    <div class="actions-bar-inner pkg actions">
        <button
            type="submit"
            accesskey="s"
            title="<__trans phrase="Continue">"
            class="primary-button primary button action"
            ><__trans phrase="Continue"></button>
        <button
            type="submit"
            accesskey="x"
            title="<__trans phrase="Cancel (x)">"
            class="cancel button action mt-close-dialog"
            ><__trans phrase="Cancel"></button>
    </div>
</div>

</form>
<mt:include name="dialog/footer.tmpl">